<!--dash.component.html-->
<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
    <!--Mini Cards-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard?.cols"
      [rowspan]="( cardLayout | async )?.miniCard?.rows">
      <app-card title="Số lượng member đang chờ việc">
        <div>Số lượng member chờ việc: </div>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.floatMiniCard?.cols"
      [rowspan]="( cardLayout | async )?.floatMiniCard?.rows">
      <app-card title="EXPORT">
        <div>Mini Card Content Here</div>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard?.cols"
      [rowspan]="( cardLayout | async )?.miniCard?.rows">
      <app-card title="Số giờ hoạt động trong tháng">
        <div>Số giờ dự án Other</div>
        <div>Số giờ dự án
          <div>Working</div>
          <div>OverTime</div>
        </div>
        <div>Tổng số giờ hoạt động</div>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.floatMiniCard?.cols"
      [rowspan]="( cardLayout | async )?.floatMiniCard?.rows">
      <app-card title="">
        <div>Mini Card Content Here</div>
      </app-card>
    </mat-grid-tile>
    <!--Charts-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <app-card title="Nhân sự">
        <div>Tổng nhân sự san xuất: <span></span>
          <div>BeetSoft:</div>
          <div>Parter:</div>
        </div>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.floatChar?.cols"
      [rowspan]="( cardLayout | async )?.floatChar?.rows">
      <app-card title="Dự án">
        <div>Số dự án đang chạy <span></span></div>
      </app-card>
    </mat-grid-tile>
    <!--Table-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.table1?.cols" [rowspan]="( cardLayout | async )?.table1?.rows">
      <app-card title="Tin tuyển dụng">
        <div>Tổng số tin tuyển dụng:</div>
        <div>Tuyển dụng theo status:</div>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.table2?.cols" [rowspan]="( cardLayout | async )?.table2?.rows">
      <app-card title="Member Onboard">

      </app-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
