<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.png" alt="Company Logo" />
    <h1 matSubheader class="mt-2 bett">Beetsoft's</h1>
  </div>
  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Settings
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>holiday</mat-icon> Holiday
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>salary</mat-icon> Salary
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>general</mat-icon> General Costs
    </a>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Members
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>member</mat-icon> Members's Usages
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>member</mat-icon> List Members
    </a>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Partners
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>partner</mat-icon> Partners's Usages
    </a> <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>partner</mat-icon> List Partners
    </a>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Project
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>partner</mat-icon> Partners's Usages
    </a> <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/project">
      <mat-icon>project</mat-icon> Manage Projects
    </a>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Report
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>report</mat-icon> Manage Report
    </a> <a mat-list-item routerLinkActive="list-item-active" routerLink="/n">
      <mat-icon>report</mat-icon> Today's Reports
    </a>
     <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>report</mat-icon> My Reports
    </a>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Recruitment
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>recruitment</mat-icon> Manage Recruitment
    </a> <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>recruitment</mat-icon> Members Onboard
    </a>
  </mat-expansion-panel>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/account-settings">
    <mat-icon>account</mat-icon> Account Settings
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>document</mat-icon> Documentation
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>job</mat-icon> Beetsoft structure
  </a>
</mat-nav-list>
