################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Beetsoft-Management-System/.vs/Beetsoft-Management-System/FileContentIndex
