p {
    font-family: Lato;
}

table {
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

.btn-edit {
    text-align: left;
}

h2 {
    text-align: center;
    padding-top: 20px;
}

.table-header {
    width: 100%;
    // margin: auto;
    text-align: left;
    // margin-bottom: 10px;
}

.form-input {
    width: auto;
}

.button-add-row {
    margin: auto;
    margin-top: 10px;
    margin-left: 10px;
}
