// button{
//   margin-left: 5px;
// }

.image{
  display: flex;
  margin-bottom: 50px
  ;
}

img{
  width: 100px;
  height: 100px;
  margin-left: 50px;
}

// .info{
//   display: flex;
// }

mat-form-field{
  width: 80%;
}
