<div class="flex">
  <div></div>
</div>
<div class="image">

    <img mat-card-image src="../../../assets/images.png" alt="" />
  <div>
    <div _ngcontent-vao-c168="" class="media-body">
      <input _ngcontent-vao-c168="" hidden="" type="file" accept=".jpg,.png,.gif,.jpeg" #uploader (change)="handleFileInput($event)" />
      <button _ngcontent-vao-c168=""
        mat-raised-button="" color="primary" class="mat-focus-indicator mat-raised-button mat-button-base mat-primary" (click)="uploader.click()" (click)="savePhoto()" >
        <span class="mat-button-wrapper">Change Image</span>
        <span matripple=""
          class="mat-ripple mat-button-ripple"></span>
          <span class="mat-button-focus-overlay"></span>
      </button>
      <input _ngcontent-vao-c168="" hidden="hidden" type="file" id="__BVID__680" class="form-control-file"  />
      <p _ngcontent-vao-c168="" class="card-text mt-2">
        Allowed JPG, GIF, PNG or JPEG. Max size of 800kB
      </p>
    </div>
  </div>

</div>

<form [formGroup]="proFile" (ngSubmit)="updateUser(proFile.value)">
  <mat-grid-list cols="2" rowHeight="7:1" >
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input class="input-account-settings" matInput placeholder="First Name" formControlName="firstName" value="{{data?.firstName}}" />
        <mat-hint></mat-hint>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="LastName" formControlName="lastName" value="{{data?.lastName}}" />
        <mat-hint></mat-hint>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" value="{{data?.email}}" readonly disabled="true"/>
        <mat-hint></mat-hint>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Phone Number" formControlName="phone" value="{{data?.phoneNumber}}" />
        <mat-hint></mat-hint>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label >BirthDay</mat-label>
        <input  [matDatepicker]="picker" formControlName="birthDay" matInput placeholder="BirthDay"  value="{{data?.dob}}"/>

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline">

        <mat-label >Address</mat-label>
        <input matInput placeholder="Address" formControlName="address" value="{{data?.address}}"/>
        <mat-hint></mat-hint>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile> </mat-grid-tile>

    <mat-grid-tile>
      <div>
        <button mat-flat-button color="primary" type="submit" [disabled]="!proFile.valid" >
          Save
        </button>
        <button mat-flat-button color="warn" (click)="reset()">Reset</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
