.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 260px;
    background-color: rgb(250, 226, 128);
    margin-top: 200px;
    border-radius: 20px;
}

.content {
    margin: 10px 0 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 300px;
    color: rgb(13 202 240)
}

.oauth-container {
    margin-bottom: 5px;
    margin-top: 20px;
}

.card-image {
    margin-top: 10px;
    margin-bottom: 20px;
}