<div class="container mt-5">
    <div *ngIf="!user" class="card text-center" style="width: 18rem; padding: 10px;">
        <h5>Google Login</h5>
        <div class="card-block">
            <h4 class="card-title">
                Not sign in
            </h4>
            <p class="card-text">sign in with</p>
        </div>
        <div class="card-block">
            <button class="btn btn-primary" (click)="loginWithgoogle()">Login with Google</button>
        </div>
    </div>
    <div *ngIf="user" class="card text-center" style="width: 18rem; padding: 10px;">
        <h5>Google Login</h5>
        <div class="card-block">
            <p class="card-title">{{user.name}}</p>
            <p class="card-text">{{user.email}}</p>
        </div>
        <div class="card-block">
            <button class="btn btn-danger" (click)="signout()">sign out</button>
        </div>
    </div>
</div>